.main-content {
  width: 80%;
  height: 100%;
  margin: 1% 10%;

  .main-page-text {
    font-size: 22px;
  }

  .plain-link {
    color: #FFFFFF;

    :visited {
      color: #FFFFFF;
    }
  }

  .example-data {
    width: 33%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    display: inline-block;
    height: 200px;

    &.bar {
      background-image: data-uri('../images/bar.png');
    }

    &.bar-3 {
      background-image: data-uri('../images/bar-3.png');
    }

    &.doughnut {
      background-image: data-uri('../images/doughnut.png');
    }

    &.hierarchy {
      background-image: data-uri('../images/hierarchy.png');
    }

    &.infog {
      background-image: data-uri('../images/infog.png');
    }
  }
}

.full-page-graph {
  &.bars {
    background-image: data-uri('../images/bars.png');
  }
}