.title-bar {
  width: 80%;
  margin: 5% 10%;
  height: 300px;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border: 4px solid #FFFFFF;

  .logo-container {
    width: 30%;
    height: 15%;
    position: relative;
    background-color: #404040;
    top: -8%;
    left: 35%;
  }

  .slogan-container {
    width: 60%;
    height: 10%;
    position: relative;
    background-color: #404040;
    bottom: -4%;
    left: 20%;
  }

  .menu-container {
    height: 75%;
    width: 100%;
  }

  .menu-item {
    width: 18%;
    height: 80%;
    margin: 1% 0 0 1.5%;
    display: inline-block;
  }
}
