<div class="title-bar">
    <div class="logo-container">
        <div class="com-logo">&nbsp;</div>
    </div>
    <ul class="menu-container">
        <li class="menu-item circle-icon">
            <p class="menu-text">What we do</p>
        </li>
        <li class="menu-item square-icon">
            <p class="menu-text">Why we</p>
            <p class="menu-text">do it</p>
        </li>
        <li class="menu-item triangle-icon">
            <p class="menu-text">How</p>
            <p class="menu-text">we do</p>
            <p class="menu-text">it</p>
        </li>
        <li class="menu-item diamond-icon">
            <p class="menu-text">Gallery</p>
        </li>
        <li class="menu-item cross-icon">
            <p class="menu-text">Useful</p>
            <p class="menu-text">links</p>
        </li>
    </ul>
    <div class="slogan-container">
        <div class="slogan">&nbsp;</div>
    </div>
</div>