<div class="title-bar">
    <div class="logo-container">
        <div class="com-logo">&nbsp;</div>
    </div>
    <div class="menu-container">
        <div class="menu-item circle-icon">&nbsp;</div>
        <div class="menu-item square-icon">&nbsp;</div>
        <div class="menu-item triangle-icon">&nbsp;</div>
        <div class="menu-item diamond-icon">&nbsp;</div>
        <div class="menu-item cross-icon">&nbsp;</div>
    </div>
    <div class="slogan-container">
        <div class="slogan">&nbsp;</div>
    </div>
</div>