<div class="main-content">
    <p class="main-page-text">We use the open source Octave programming language and software (a close cousin of MATLAB) to ‘code’ your figures.
        This means that every detail can be controlled, from matching the colour of fonts and fills to those of your business,
        to setting the size and position of markers and lines to the exact millimetre. We will send your figures to you in Portable Network Graphics (PNG) format.
        This means that you can use commonly-available software such as Paint, Paint.NET or Photoshop should you need to make any changes in the future.</p>
    <p class="main-page-text">
        If you wish, we can also send you the code used to generate your figures. You can then use Octave (which is available as a free download) to edit your figures in the future.
        There is an additional 10% charge for this service because additional work is required to add comments to the code to clarify its meaning.
    </p>
</div>