<div class="main-content">
    <p class="main-page-text">
        Plot types: <a class="plain-link" href="https://en.wikipedia.org/wiki/Plot_(graphics)#Types_of_plots">
        https://en.wikipedia.org/wiki/Plot_(graphics)#Types_of_plots</a>
    </p>
    <p class="main-page-text">
        Colour schemes: <a class="plain-link" href="http://paletton.com/#uid=1000u0kllllaFw0g0qFqFg0w0aF">
        http://paletton.com/#uid=1000u0kllllaFw0g0qFqFg0w0aF</a>
    </p>
    <p class="main-page-text">
        Information on image formats:
        <a class="plain-link" href="http://www.gifted.uconn.edu/siegle/HonorsSeminar/filetype.html">
            http://www.gifted.uconn.edu/siegle/HonorsSeminar/filetype.html</a>
    </p>
    <p class="main-page-text">
        Octave:
        <a class="plain-link" href="https://www.gnu.org/software/octave/">
            https://www.gnu.org/software/octave/</a>
    </p>
    <p class="main-page-text">
        Statistical analyses:
        <a class="plain-link" href="http://documents.software.dell.com/Statistics/Textbook/Basic-Statistics">
            http://documents.software.dell.com/Statistics/Textbook/Basic-Statistics</a>
    </p>
</div>