<div class="main-content">
    <p class="main-page-text">We create bespoke figures, plots and graphs from your data which you can use to enhance reports and presentations.
        We also offer some basic statistical analyses such as descriptive statistics (means, medians, confidence intervals, percentiles, etc),
        curve fitting (linear, polynomial, exponential, etc) and difference testing (t-tests and non-parametric alternatives).</p>
    <p class="main-page-text">Please get in touch with your request and we will do our best to meet your needs. Our prices are based upon an hourly rate of £30 with a minimum of £5 per order.
        We will let you know how much your job will cost and how long it will take and you can choose to except or decline.
        If you accept, we will create your figure(s) and send them to you with a watermark. If you are happy, a non-watermarked version will be sent once payment is received.</p>
</div>